$color-text:#e0e0e0;
.wrapper{
    width: 100%;
    height: 720px;
    overflow: hidden;
}
.product{
    width: 765px;
   overflow: hidden;
    margin-left: 40px;
    position: relative;

    border: 1px solid #e0e0e0 ;
    margin-bottom: 30px;
}
.image-product{
    width: 120px;
    float: left;
    padding: 20px;
     img{
         width: 120px;
         height: 170px;
       
         
     }
}
.title-product{
    width: 400px;
    float: left;
    p{
        margin-left: 30px;
        margin-top: 60px;
        font-size: 18px;
        font-weight: 700;
        float: left;
    }
    
}
.price{
    width: 200px;
    float: right;
    padding: 20px;
    P{
        margin-top: 40px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 3px;
        text-align: right;
        
    }
    .price-item{
        font-size: 18px;
        margin-top: 0;
        font-size: 15px;
        font-weight: 500;
       
    }
    span{
        font-size: 16px;
   
        font-weight: normal;
    }
}
.totalPrice{
    width:350px;
    float: right;
    padding: 20px;
    margin-right: 60px;

    button{
        margin-bottom: 30px;
         width: 100%;
         height: 70px;
         font-size: 22px;
         color: white;
         border: none;
         outline: none;
         background-color: #5495eb;
         &:hover{
             background-color: #0052bf;
         }
        }
}
.counter{
    float: left;
    margin-left: 30px;
    margin-top: 60px;
    text-align: center;
    input{
        width: 30px;
        text-align: center;
    }
    button{
        border: none;
        outline: none;
        background: none;
        color: $color-text;
        padding-left: 10px;
        padding-right: 10px;
    }
    span{
        cursor: pointer;
    }
}
.heder{
    width: 100%;
    height: 50px;
   overflow: hidden;
    background: $color-text;
}
.mail{
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #e0e0e0 ;
    margin-bottom: 30px;
    i{
        color: $color-text;
    }
}
.price_summary_row{
    width: 100%;
    overflow: hidden;
    padding: 10px;
    border-bottom:  1px dashed #e0e0e0;
    span{
        font-size: 16px;
        font-weight: bold;
        color: $color-text;
    }
}
.price_item_summary{
    float: right;
    width: 50px;
    margin-left: 50px;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}
h2{
 margin-left: 20px;
 span{
     font-weight: normal;
     font-size: 16px;
 }
}
.product-container{
    float: left;
 height: 700px;
}
@media only screen and (min-width: 992px) {
    .wrapper{
        height: 970px;
    }
    .totalPrice{
        float: left;
        margin-bottom: 20px;
    }
    .product-container{
        height: 600px;
    }
}