<div class="wrapper" >
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://o.aolcdn.com/images/dims?quality=95&image_uri=https%3A%2F%2Fs.yimg.com%2Fuu%2Fapi%2Fres%2F1.2%2Fe7NopfGnTWXhEuGKY_t3TQ--%7EB%2FaD05MDA7dz0xNjAwO2FwcGlkPXl0YWNoeW9u%2Fhttps%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D960%252C540%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C900%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2019-04%252F9c886110-5ad8-11e9-bedf-db47a0cc62de%26client%3Da1acac3e1b3290917d92%26signature%3D88a5ca35561c838cff668d8831e8da84757adc01&client=amp-blogside-v2&signature=3280cd2308d370f830b90d300caf324a4a857258" class="d-block w-100" alt="...">
      </div>
     
      
    </div>
  </div>

<div class="products-container" >
    <div class="product-card" *ngFor="let product of products" (click)="commonService.displayProduct(product.id,product.category_id)">
    <img [src]="product.image" alt="">
    <div class="price">
        <span>{{product.price}} EU</span>
    </div>
    <div class="title"  >
      <h6>{{product.name}}</h6>
    </div>

    </div>
</div>
</div>