.main{
    width: 76%;
    padding: 20px;
    float: left;
    padding-left: 80px;
}
h1{
    color: #858585;
    margin-bottom: 20px;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .main{
        padding: 5px;
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .main{
        padding: 5px;
        width: 65%;
    }
}