.main{
    width: 76%;
    padding: 20px;
    float: left;
    padding-left: 80px;
}
h1{
    color: #858585;
    margin-bottom: 20px;
}
span{
    color: #858585;
    font-size: 18px;
}
input{
    width: 400px;
    outline: none;
    margin-bottom: 20px;
}
.features{
   
    width: 380px;
    position: absolute;
    top: 250px;
   left: 900px;
    
    select{
        margin-left: 15px;
   
        width: 120px;
        outline: none;
    }
}
button{
    width: 150px;
    height: 50px;
    margin-left: 700px;
    border: none;
    outline: none;
    background:#5495eb ;
    color: white;
    font-size: 22px;

    &:hover{
        background:#0052bf ;
    }
}
.selected{
    width: 200px;
    float:right;
}
@media only screen and (min-width: 992px) {
    .main{
        padding: 5px;
        width: 70%;
        height: 1100px;
        position: relative;
       
    }
    .features{
        position: absolute;
        top: 750px;
   
   left: 10px;
    }
  button{
      margin-left: 0;
      position: absolute;
      bottom: 20px;
      left: 20px;
  }
}