.main{
    width: 76%;
    padding: 20px;
    float: left;
    padding-left: 80px;
}
h1{
    color: #858585;
    margin-bottom: 20px;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
@media only screen and (min-width: 992px) {
    .main{
        padding: 5px;
        width: 70%;
    }
}