.heder{
    margin: 0;
    padding: 0;
     
 }
 .main{
     width: 100%;
  
    
 }

 .footer{
     position: relative;
     width: 100%;
     padding: 15px;
     background: #141414;
     color: white;
     p{
         margin: 0;
         text-align: center;
         clear: both;
     }
    img{
        width: 350px;
       
    }
 }
 .contact{
     float: right;
     width: 100px;
     position: absolute;
     right: 0;
     bottom: 60px;
     margin-right: 10px;
     text-align: center;
 font-size: 20px;
     i{
         margin-right: 15px;
         color: #5495eb;
     }
     
 }
 .payment-methods{
    float: right;
    width: 350px;
    padding: 10px;
    margin-right: 220px;
    color: #5495eb;

   
    i{
        padding: 7px;
        margin-left: 10px;
    }
 }
 .wrapper{
     width: 100%;
 }
 .translate{
     width: 200px;
     padding: 10px;
     float: right;
     text-align: right;
     cursor: pointer;

     img{
        width: 30px;
        &:hover{ 
        border: 2px solid #5495eb ;
    }
    }

     button{
         margin: 0;
     }
 }
 @media (min-width: 992px) and (max-width: 1199.98px) { 
     .payment-methods{
         margin-right: 70px;
     }
    p{
        padding-left: 80px;
    }
 }
 @media (min-width: 768px) and (max-width: 991.98px) { 
     .heder{
         width: 940px;
     }
     .wrapper{
         width: 940px!important;
     }
     .payment-methods{
         margin-right: 10px;
     }
     .footer{
         p{
             padding-left: 110px;
         }
     }
 }
 @media  (max-width: 575.98px) { 
     .heder{
         width: 700px;
     }
     .wrapper{
         width: 700px;
     }
     .footer{
         img{
             width: 200px;
         }
         .translate{
             width: 90px;
             img{
                 width: 30px;
             }
         }
         .payment-methods{
             margin-right: 0;
         }
         .contact{
             bottom: 30px;
         }
        p{
            padding-left: 100px;
        }
     }
  }