.main{
    width: 76%;
    padding: 20px;
    float: left;
    padding-left: 80px;
}
h1{
    color: #858585;
    margin-bottom: 20px;
}
span{
    color: #858585;
    font-size: 18px;
}

.features{
    width: 100%;
    padding: 20px;
    overflow: hidden;
   
}
.feature{
    width: 280px;
    float: left;
    
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    h4{
        background: #e0e0e0;
        height: 30px;
    }
    i{
        margin-right: 10px;
        color: #53e605;
        cursor: pointer;
    }
    span{
        color: #53e605;
        font-weight: bold;
    }
    input{
        width: 190px;
        margin-left: 10px;
    }
}
button{
    width: 150px;
    height: 50px;
    margin-left: 30px;
    border: none;
    outline: none;
    background:#5495eb ;
    color: white;
    font-size: 22px;

    &:hover{
        background:#0052bf ;
    }
}
ul{
    margin-bottom: 0;
}
li{
    list-style-type: none;
    i{
        color: red !important;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .main{
        padding: 5px;
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .main{
        padding: 5px;
        width: 67%;
    }
    .feature{
        width: 250px;
    }
}